//-==============================
//-  Callback block
//-==============================

.row
    .columns.medium-12
        .callback-block
            .info
                .ico.launch
                .text
                    p Are you ready to launch blockchain startup?
                    p.gold Get in touch
            .btn
                button.button(data-toggle="modalContactUs") Contact us
