//-==============================
//-  Clients
//-==============================

section.l-clients
    .block-title.row
        h2 Clients
        
    .item-list-group.clients.row.wow.fadeInUp(data-wow-duration="1.0s")
        .item
            .img(style="background-image: url(./assets/img/clients/client-1.png)")
            p Chronobank.io
        .item
            .img(style="background-image: url(./assets/img/clients/client-2.jpg)")
            p TAAS.fund
        .item
            .img(style="background-image: url(./assets/img/clients/client-3.png)")
            p SONM.io
        .item.secret
            .img(style="background-image: url(./assets/svg-icons/icn-3.svg)")
            p Secret project
