//-==============================
//-  Contact Us
//-==============================

section.l-contact-us
    .block-title.row
        h2 Contact Us
        
    .row
        .columns.medium-12
            .callback-block
                .info
                    .ico.launch-2
                    .text
                        p Launch your startup right now
                        p.gold Feel free to contact us
                .btn
                    button.button(data-open="modalContactUs") Contact us
    
    .row
        .columns.medium-10.medium-offset-1.large-8.large-offset-2
            .contact-info
                .block
                    h4 Contact Us
                    ul
                        li
                            a(href="mailto:info@icopromo.com", target="_blank")
                                i.mail
                                span info@icopromo.com
                            a(href="http://t.me/alexander_rugaev", target="_blank")
                                i.telegram
                                span Telegram
                            a(href="skype:sanderinoz?add", target="_blank")
                                i.skype
                                span Skype
                            a(href="https://www.linkedin.com/in/alexrugaev/", target="_blank")
                                i.linkedin
                                span Linkedin
                .block
                    h4 Follow Us
                    ul
                        li
                            a(href="#", target="_blank")
                                i.facebook
                                span Facebook
                            a(href="#", target="_blank")
                                i.twitter
                                span Twitter
                            a(href="#", target="_blank")
                                i.medium
                                span Medium
                            a(href="https://www.linkedin.com/in/alexrugaev/", target="_blank")
                                i.linkedin
                                span Linkedin
        
