//-==============================
//-  Our experience
//-==============================

section.l-experience
    .block-title.row
        h2 Our experience
        
    .row
        .columns.large-6
            .content
                h4 We know everything about blockchain
                p.
                    We live and breathe blockchain and ICOs, and we truly believe
                    that this technology is changing the way the world works. 
                p.
                    We have existing relationships with journalists and experts in
                    the the field to deliver a high impact message across the globe.
                p.
                    Whether you are an individual or a large corporation, we can 
                    help you with anything blockchain and ICO related. 
                    
        .columns.large-6
            .dropdown-list
                .item
                    .circle
                        p.number
                            span.big 2
                            span +
                        p.text years
                    .title
                        p Blockchain experience
                    .desc
                        p.
                            We live and breathe blockchain and ICOs, and we truly believe
                            that this technology is changing the way the world works. 
                            
                .item
                    .circle
                        p.number
                            span.big 10
                            span +
                        p.text years
                    .title
                        p Marketing experience
                    .desc
                        p.
                            We live and breathe blockchain and ICOs, and we truly believe
                            that this technology is changing the way the world works. 
                            
                .item
                    .circle
                        p.number
                            span.big 12
                            span +
                        p.text years
                    .title
                        p Development experience
                    .desc
                        p.
                            We live and breathe blockchain and ICOs, and we truly believe
                            that this technology is changing the way the world works. 
                            
                .item
                    .circle
                        p.number
                            span.big 2
                            span +
                        p.text years
                    .title
                        p Legal consulting for
                    .desc
                        p.
                            We live and breathe blockchain and ICOs, and we truly believe
                            that this technology is changing the way the world works. 
