//-==============================
//-  How to start
//-==============================

section.l-how-start
    .block-title.row
        h2 How to start
        
    .row
        .columns.medium-12
            .list-item
                .item.right.wow.fadeInUp(data-wow-duration="1.0s")
                    .content
                        p.number
                            span 1
                        .ico.ico-1
                        p Contact us
                .item.left.wow.fadeInUp(data-wow-duration="1.0s")
                    .content
                        p.number
                            span 2
                        .ico.ico-2
                        p Summarize your product and token concepts
                .item.right.wow.fadeInUp(data-wow-duration="1.0s")
                    .content
                        p.number
                            span 3
                        .ico.ico-3
                        p Sign the contract
                .item.left.wow.fadeInUp(data-wow-duration="1.0s")
                    .content
                        p.number
                            span 4
                        .ico.ico-4
                        p Pay for the services you ordered
                
                .timeline
                    span 1
                    span 2
                    span 3
                    span 4
                    
