//-==============================
//-  Intro
//-==============================

section.l-intro
	header.header
		.row
			.columns.medium-3.large-2
				a.logo(href="/")
			.columns.medium-9.large-8
				.humburger
				nav.top-menu
					ul
						li
							a(href="#l-services").scroll-to Services
						li
							a(href="#l-pricing").scroll-to Pricing
						li
							a(href="#l-experience").scroll-to Experience
						li
							a(href="#l-how-start").scroll-to How to Start
						li
							a(href="#l-clients").scroll-to Clients
						li
							a(href="#l-team").scroll-to Team
						li
							a(href="#l-press").scroll-to Press
						li
							a(href="#l-contact-us").scroll-to Contact Us
			.columns.medium-3.large-2.hide-for-medium-only.hide-for-small-only
				.email
					a(href="mailto:info@icopromo.com") info@icopromo.com
	.row
		.columns.medium-12
			h1 We helped to crowdfund
			
	.row
		.columns.medium-12
			.exchange-rates
				p.bitcoin <span>15483</span> BTC
				p.text an equivalent of 
				p.usd <em>$</em><span class="spincrement">00 000 000,00</span> USD
	.bg
	
   			
