//-==============================
//-  Partners
//-==============================

section.l-partners
    .block-title.row
        h2 Partners

    .item-list-group.row.partners
        .item.wow.fadeInUp(data-wow-duration="1.0s")
            .img(style="background-image: url(./assets/img/clients/client-1.png)")
            p Chronobank.io
        .item.wow.fadeInUp(data-wow-duration="1.0s")
            .img(style="background-image: url(./assets/img/clients/client-2.jpg)")
            p TAAS.fund
        .item.wow.fadeInUp(data-wow-duration="1.0s")
            .img(style="background-image: url(./assets/img/clients/client-3.png)")
            p SONM.io
