//-==============================
//-  Press
//-==============================

section.l-press
    .block-title.row
        h2 Press
        
    .press-list.row
        .columns.medium-12
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/cointe-legraph.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/coin-desk.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/nasdaq.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/the-huffinton-post.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/due.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/crypto-coins-news.png)").item.wow.fadeInUp
            hr
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/forbes.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/contagious.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/bitcoinist.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/forklog.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/news-btc.png)").item.wow.fadeInUp
            a(href="#", data-wow-duration="1.0s", style="background-image: url(./assets/img/press/blockchain-news.png)").item.wow.fadeInUp
