//-==============================
//-  Services
//-==============================

section.l-services
    //- .bg
    .block-title.row
        h2 Services
    
    .services-list
        .item
            .row
                .service-image.right.columns.medium-5.wow.fadeInUp(data-wow-duration="1.0s")
                    .ico.ico-1
                    p Lorem ipsum about marketing. The most important idea
                .service-text.columns.medium-6
                    h4 Technology solution
                    ul
                        li 
                            span Smart contract
                        li 
                            span Smart contract management system
                        li 
                            span Book building platform
                        li 
                            span Consultations by developers on setting up the technology tools
                        
        .item
            .row
                .service-image.left.columns.medium-5.medium-offset-1.medium-push-6.wow.fadeInUp(data-wow-duration="1.0s")
                    .ico.ico-2
                    p Lorem ipsum about marketing. The most important idea
                .service-text.columns.medium-6.medium-pull-6
                    h4 Marketing solution
                    ul
                        li
                            span.
                                Marketing strategy comprising over 70 tactics, specifying
                                each tactic's potential impact
                        li
                            span.
                                USD 20,000 traffic package, including Facebook, Twitter,
                                Adwords and Reddit, targeting Blockchain community
                        li
                            span.
                                Bounty Program setup to conduct marketing campaigns in 25 languages
                        li
                            span.
                                Consultations by marketing experts on deployment of marketing tools
                
        .item
            .row
                .service-image.right.columns.medium-5.wow.fadeInUp(data-wow-duration="1.0s")
                    .ico.ico-3
                    p Lorem ipsum about marketing. The most important idea
                .service-text.right.columns.medium-6
                    h4 Legal solution
                    ul
                        li
                            span.
                                Review and recommendations: Token legal concept, White Paper, landing page
                        li
                            span.
                                Set of legal documents, including Token Purchase Agreement, 
                                Terms of Use, and Privacy Policy
                        li
                            span.
                                Consultations on legal aspects by external attorneys 
                                experienced in supporting ICOs
    
        
    
