//-==============================
//-  Team
//-==============================

section.l-team
    .block-title.row
        h2 Team
        
    .team-list.row
        .columns.medium-12
            .item
                .photo(style="background-image:url(./assets/img/team/team1.jpg)")
                .title
                    h4 Sergei Sergienko
                    p Chief Executive Officer
                ul.social
                    li
                        a(href="#").mail
                    li
                        a(href="#").twitter
                    li
                        a(href="#").facebook
                    li
                        a(href="#").slack
                    li
                        a(href="#").telegram
                .description
                    p.
                        Sergei Sergienko is a co-founder of Edway Group Ltd. He has
                        won a number of awards in business in Australia, including 
                        "Hot 30 under 30" and "Young gun in business". He has represented
                        Australia on G20 summits and understands how to connect real
                        and crypto world economies.
                        
            .item
                .photo(style="background-image:url(./assets/img/team/team2.jpg)")
                .title
                    h4 Alexander Rugaev
                    p Chief Marketing Officer
                ul.social
                    li
                        a(href="#").mail
                    li
                        a(href="#").twitter
                    li
                        a(href="#").facebook
                    li
                        a(href="#").slack
                    li
                        a(href="#").telegram
                .description
                    p.
                        Alexander Rugaev is a serial entrepreneur and one of the early
                        blockchain supporters. He has experience in creating industrial
                        grade Bitcoin and Ethereum mining farms. He has 16 years of experience
                        in e-commerce and online marketing.
