//-==============================
//-  Testimonials
//-==============================

section.l-testimonials
    .testimonials-slider-body.row
        .testimonials-slider.columns.medium-10.medium-offset-1
            .item
                .left
                    .table
                        .cell
                            img(src="./assets/img/testimonials/icn-chrono.png", alt="testimonial")
                            p Chronobank.io
                .right
                    p.full-text.
                        The guys at ICO Promo are epic, hands down. We would not be able to collect
                        that much and run a successful ICO without them. 
                    .user
                        .img(style="background-image:url(./assets/img/testimonials/ava-testim-1.jpg)")
                        .info
                            p.name Sergei Sergienko
                            p CEO Chronobank.io
                    .quote
                        
            .item
                .left
                    .table
                        .cell
                            img(src="./assets/img/testimonials/taas.png", alt="testimonial")
                            p TAAS.fund
                .right
                    p.full-text.
                        ICO Promo makes miracles, it’s amazing how they helped us take our visions
                        into reality by showing us the ropes and leading our ICO. As Tech focused
                        team we got a lot from working with Sergei’s team in very short time.
                        I highly recommend working with Sergei’s team for any Blockchain team
                        who’s trying to raise funding in this new and exciting way. 
                    .user
                        .img(style="background-image:url(./assets/img/testimonials/ava-testim-2.jpg)")
                        .info
                            p.name Sergei Sergienko
                            p CEO Chronobank.io
                    .quote
                        
