//-----------------------------------
//   Services
//-----------------------------------

.l-services {
    position: relative;
    background: svg-load('../svg-icons/bg1.svg') no-repeat bottom center;
    @include mq('tablet') {
        background-position: top center;
    }
    .bg {
        display: none;
        position: absolute;
        height: 850px;
        width: 100%;
        background: rgb(252,242,232);
    }
    .services-list {
        max-width: 990px;
        margin: auto;
        .item {
            position: relative;
            padding-bottom: 40px;
            margin-bottom: 40px;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgba(169, 146, 96, 0.7) 50%, rgba(255, 255, 255, 0.0));
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            @include mq('tablet') {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .service-image {
                @include mq('tablet') {
                    text-align: center !important;
                    margin-bottom: 30px;
                }
                .ico {
                    display: inline-block;
                    width: 128px;
                    height: 128px;
                    margin-top: 45px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    &.ico-1 { background-image: svg-load('../svg-icons/service-1.svg'); }
                    &.ico-2 { background-image: svg-load('../svg-icons/service-2.svg'); }
                    &.ico-3 { background-image: svg-load('../svg-icons/service-3.svg'); }
                    @include mq('tablet') {
                        margin-top: 0;
                    }
                }
                p {
                    font: 24px $source-sans;
                    color: $gold;
                    letter-spacing: -0.5px;
                    @include mq('tablet') {
                        font-size: 18px;
                        padding: 0 !important;
                    }
                }
                &.left {
                    // padding-left: 10%;
                    text-align: left;
                    // p { padding-right: 24%; }
                }
                &.right {
                    // padding-right: 10%;
                    text-align: right;
                    // p { padding-left: 24%; }
                }
            }
            .service-text {
                // display: table-cell;
                // vertical-align: top;
                // width: 50%;
                p {
                    font: 20px/27px $source-serif;
                    margin-bottom: 30px;
                    letter-spacing: -0.3px;
                    @include mq('tablet') {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 20px;
                    }
                    &:last-child { margin-bottom: 0; }
                }
                h4 {
                    font: 24px $source-sans;
                    margin-bottom: 15px;
                    @include mq('tablet') {
                        font-size: 20px;
                    }
                }
                ul {
                    padding-left: 24px;
                    li {
                        font: 20px/27px $source-serif;
                        margin-bottom: 15px;
                        list-style: circle;
                        color: $orange;
                        letter-spacing: -0.5px;
                        @include mq('tablet') {
                            font-size: 18px;
                        }
                        &:last-child { margin-bottom: 0; }
                        span {
                            color: $text;
                            opacity: .7;
                        }
                    }
                }
                // &.left {
                //     padding-right: 15px;
                // }
                // &.right {
                //     padding-left: 15px;
                // }
            }
        }
    }
}
